# directories
coverage
node_modules
.direnv

# foundry
cache
out
cache_hardhat
artifacts
typechain-types

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
.chain_id

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
broadcast/*/33/

# deployments
deployments/regtest/*
deployments/devnet/*

# config
.env
.env.33

# Hardhat files
/cache_hardhat
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
