# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
auto_detect_solc = false
block_timestamp = 1_680_220_800 # March 31, 2023 at 00:00 GMT
bytecode_hash = "none"
evm_version = "cancun"
gas_reports = ["*"]
optimizer = true
optimizer_runs = 10_000
out = "out"
script = "script"
solc = "0.8.28"
src = "src"
test = "test"
extra_output = ['devdoc', 'userdoc', 'metadata', 'storageLayout']
build_info = true
ffi = true # TODO: should we disable this for some envs to prevent arbitrary code execution?
fs_permissions = [
  { access = "read", path = "./out"},
  { access = "read-write", path = "./deployments"}
]

[invariant]
runs = 20 # The number of calls to make in the invariant tests
depth = 100 # The number of times to run the invariant tests
call_override  = false
fail_on_revert = true

[fuzz]
runs = 200

[profile.ci]
verbosity = 1

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[rpc_endpoints]
localhost = "http://localhost:4444"

[profile.deep]
verbosity = 3

[profile.deep.fuzz]
optimizer = true
runs      = 1_000

[profile.deep.invariant]
optimizer = true
runs      = 200  # The number of calls to make in the invariant tests
depth     = 250  # The number of times to run the invariant tests
call_override  = false
fail_on_revert = true