---
name: Deploy Contracts for QA

on:
  push:
    branches:
      - main
      - TOK-114/implement-cd

jobs:
  deploy:
    runs-on: "ubuntu-latest"
    environment:
      name: QA
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"

      - name: "Install Bun"
        uses: "oven-sh/setup-bun@v1"

      - name: "Install the Node.js dependencies"
        run: "bun install"

      - name: "Export ENVS"
        run: "source .env.31"

      - name: "Deploy Contract"
        run: "bun run deploy"
