name: Docgen

on:
  workflow_dispatch:

permissions: read-all

jobs:
  docgen:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c" # v1.3.1
        with:
          version: "nightly-f625d0fa7c51e65b4bf1e8f7931cd1c6e2e285e9"

      - name: "Install Bun"
        uses: "oven-sh/setup-bun@f4d14e03ff726c06358e5557344e1da148b56cf7" # v1.2.2

      - name: "Install the Node.js dependencies"
        run: "bun install"

      - name: "Docgen"
        run: "bun run docgen"

      - name: "prettier"
        run: "bun run prettier:write"

      - name: "Configure Git"
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: "Commit changes"
        run: |
          git add .
          git commit -m "docs: automated docgen by GitHub Action" || echo "No changes to commit"
          git push origin HEAD:${{ github.ref }}
