name: Slither Analysis

env:
  FOUNDRY_PROFILE: "ci"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "main"
    paths:
      - "src/**"

permissions: read-all

jobs:
  analyse:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683" # v4.2.2

      - name: Remove test folder
        run: rm -rf test

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@82dee4ba654bd2146511f85f0d013af94670c4de" # v1.4.0
        with:
          version: stable

      - name: "Install Bun"
        uses: "oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76" # v2.0.2

      - name: "Install the Node.js dependencies"
        run: "bun run install:ci"

      - name: Run Slither
        uses: crytic/slither-action@4fd765aeef19915d04ddf0be90c2930036a774d8 # v0.4.1
        id: slither
        with:
          sarif: results.sarif
          fail-on: none
          ignore-compile: false
          slither-args: --filter-paths "node_modules"

      # This fails for private repo with no GitHub Advanced Security enabled
      # - name: Upload SARIF file
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: ${{ steps.slither.outputs.sarif }}
